.InfoBox {
  border-radius: 5px;
  border: 4px black solid;
  background-color: rgba(255, 255, 255);
  color: black;
  filter: drop-shadow(5px 5px 15px rgb(22, 22, 22));
  width: 60%;
  height: 100%;
  font-size: 15px; 
}

.centeredBox {
  display: flex;
  justify-content: space-evenly;
}

.InfoBox2 {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 10px;
  padding-left: 50px;
  font-size: 15px; 
}

.infoText {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 20px;
}

.projectButton {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}

.projectButton:hover {
  filter: drop-shadow(0px 0px 8px rgb(31, 31, 31));
}

.projectImg {
  border: 3px solid black;
  margin: 5px;
  overflow: hidden;
  max-width: 590px;
}

.faceImg {
  padding: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .ImgTest {
    animation: App-logo-spin 1 2s ease-out;
  }
}

@keyframes App-logo-spin {
  from {
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0px);
  }
}